.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  height: 100vh; /* 100% высоты окна браузера */
  width: 100%;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.phone-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.phone-img {
  max-width: 100%;
  width: 400px;
  height: auto;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 50px;
}

.icon-container {
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  color: rgba(115, 115, 115, 1);
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #007bb5;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

a {
  color: #0095f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* --- Адаптивность --- */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .phone-img-container {
    display: none;
  }

  .signup-form-container {
    max-width: 100%;
    padding: 20px;
  }
}
